@tailwind base;
@tailwind components;
@tailwind utilities;

/* SCSS HEX
licorice: #241104ff;
beige: #f4f4ddff;
gunmetal: #142e2fff;
cambridge-blue: #768f84ff;*/

* {
  margin: 0;
  padding: 0;
}

body {
  background: beige;
  color: #142e2f;
}

h1,
.h1 {
  text-transform: uppercase;
  color: #142e2f;
  font-weight: 700;
}
