.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.heroImageContainer {
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .heroImage {
    position: absolute;
    width: 100vw;
    overflow: hidden;
    z-index: -1;
  }
}

footer {
}
